name: Deploy Docker Image to ECR and then run ecs task

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    if: contains(github.event.head_commit.message, '[deploy-ecs]')
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-east-1
      ROLE_ARN: arn:aws:iam::886687538523:role/gha-my-portfolio-iam-role     # OIDC deploy role ARN
      INFRA_REPO: sae-org/terraform-infrastructure
      INFRA_PATH: dev/us-east-1/ecs/my-portfolio

    steps:
      - name: Checkout app repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Load ECS/ECR config from Secrets Manager
        env: 
          SECRET_ID: cicd/my-portfolio       
        run: |
          aws secretsmanager get-secret-value \
            --secret-id "$SECRET_ID" \
            --query SecretString --output text > config.json
          jq -r 'to_entries | .[] | "\(.key)=\(.value)"' config.json >> $GITHUB_ENV

      - name: Login to Amazon ECR
        id: ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & push Docker image
        id: buildpush
        env: 
          REGISTRY: ${{ steps.ecr.outputs.registry }}
          REPOSITORY: my-portfolio-dev-ecr-repo  
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t "$REGISTRY/$REPOSITORY:$IMAGE_TAG" -t "$REGISTRY/$REPOSITORY:latest" .
          docker push "$REGISTRY/$REPOSITORY:$IMAGE_TAG"
          docker push "$REGISTRY/$REPOSITORY:latest"
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Checkout infra repo
        uses: actions/checkout@v4
        with:
          repository: ${{ env.INFRA_REPO }}         
          path: infra-repo
          ref: main

      # install terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - run: aws sts get-caller-identity

      # run terraform in the folder that contains main.tf/outputs.tf/etc.
      - name: Terraform init
        working-directory: infra-repo/dev/us-east-1/ecs/my-portfolio
        run: terraform init

      # apply ONLY the ECS module, passing the new image tag from the build step
      - name: Terraform apply (update ECS module)
        working-directory: infra-repo/dev/us-east-1/ecs/my-portfolio
        run: |
          terraform apply -auto-approve \
            -var="image_tag=${{ steps.buildpush.outputs.image_tag }}" \
            -target=module.ecs      



















